@import './config/base.scss';

._btn {
    @include button;
}

._link {
    @include link;
    font-size: px-to-rem(28);
    line-height: 114%;

    .label {
        display: flex;
        align-items: center;
        justify-content: center;
        svg,
        img {
            width: 100%;
            height: auto;
        }
    }

    .file {
        display: flex;
        flex: 0 0 px-to-rem(17.36);
        margin-right: px-to-rem(10.94);
        align-items: center;

        svg,
        img {
            width: 100%;
            height: auto;
        }
    }

    .img-large {
        width: px-to-rem(243);

        img,
        svg {
            width: 100%;
            height: auto;
        }
    }

    &.telephone {
        display: inline-flex;
        align-items: center;
        line-height: 100%;

        @include viewport-phone {
            font-size: px-to-rem(24);
        }

        .label {
            flex: 0 0 px-to-rem(16);
            
            margin-right: 0.25em;
        }
    }

    &.marked {
        display: inline-flex;
        align-items: center;

        @include viewport-phone {
            font-size: px-to-rem(21);

            @media (max-width: 430px) {
                width: 100%;
            }
        }

        .label {
            flex: 0 0 px-to-rem(20);

            @include viewport-tablet-min {
                margin-left: px-to-rem(7.44);
            }

            @include viewport-phone {
                margin-left: px-to-rem(27.63);

                @media (max-width: 430px) {
                    margin-left: auto;
                }
            }
        }
    }
}

//BANNER-------------------------------------------------------------
.banner {
    position: relative;
    min-height: px-to-rem(640);
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;

    // background-image: url(../assets/img/img-banner-big.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center center;

    @include viewport-desktop {
        padding: px-to-rem(56) 0 px-to-rem(67);
    }

    @include viewport-tablet {
        padding: px-to-rem(42) 0 px-to-rem(36);
    }

    @include viewport-phone {
        min-height: px-to-rem(514);
        padding: px-to-rem(27) 0 px-to-rem(10);

        @media (max-width: 550px) {
            background-image: unset;
        }
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 0;
        z-index: 2;
        width: 100%;

        @include viewport-desktop {
            height: px-to-rem(352);
        }

        @include viewport-tablet {
            height: px-to-rem(150);
        }

        @include viewport-phone {
            height: px-to-rem(100);

            @media (max-width: 550px) {
                display: none;
            }
        }
    }

    &::before {
        top: 0;
        background-image: linear-gradient(360deg, rgba(24, 25, 29, 0) 12.17%, #18191D 79.11%);
    }

    &::after {
        bottom: 0;
        background-image: linear-gradient(180deg, rgba(24, 25, 29, 0) 12.17%, #18191D 79.11%);
    }

    //.banner__wrap 
    &__wrap {
       position: relative;
       height: 100%;

        @include viewport-desktop {
            @media (min-width: 1440px) {
                max-width: px-to-rem(1440);
                margin: 0 auto;
                padding: unset;
            }
        }
    }

    //.banner__container 
    &__container {
        position: relative;
        z-index: 3;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    //.banner__title__container 
    &__title__container {
        margin: 0 auto;
        flex: 1 0 auto;

        @include viewport-phone {
            @media (max-width: 550px) {
                flex: unset;
            }
        }
    }

    //.banner__title 
    &__title {
        @include text-heading-1;
        text-align: center;
    }
    
    //.banner__more__container 
    &__more__container {
        width: 100%;

        @include viewport-tablet-min {
            margin-top: px-to-rem(53);
        }

        @include viewport-phone {
            margin-top: px-to-rem(20);

            @media (max-width: 550px) {
                display: none;
            }
        }
    }
    
    //.banner__more 
    &__more {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: unset;
        margin: 0 auto;
        padding: unset;
        background-color: transparent;

        text-transform: uppercase;
        text-align: center;
        font-size: px-to-rem(12);
        line-height: 200%;
        letter-spacing: 0.05em;
        color: var(--color-text-primary);

        @include viewport-phone {
            @media (max-width: 550px) {
                display: none;
            }
        }
    }
    
    //.banner__more__label 
    &__more__label {
        max-width: px-to-rem(15);

        img {
            width: 100%;
            height: auto;
        }
    }

    //.banner-back 
    &-back {
        @include viewport-phone {
            @media (max-width: 550px) {
                display: none;
            }
        }

        //.banner-back__item 
        &__item {
            position: absolute;
            top: 0;
            // width: 100%;
            height: 100%;
            will-change: background;
            transition: background 0.15s ease;           

            &:nth-child(1) {
                left: 0;
                z-index: 0;
                background-image: url(../assets/img/img-banner-1.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 0 0;

                @include viewport-desktop {
                    width: 57.361%;

                    @media (min-width: 1441px) {
                        width: 64.361%;
                    }

                    @media (max-width: 1210px) {
                        width: 63.361%;
                        background-position: 100% 0;
                    }
                }

                @include viewport-tablet {
                    width: 63.361%;
                    background-position: 75% 0;
                }

                @include viewport-phone {
                    width: 63.361%;
                    background-position: 75% 0;
                }
            }

            &:nth-child(2) {
                right: 0;
                z-index: 1;
                background-image: url(../assets/img/img-banner-2.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 0 0;

                @include viewport-desktop {
                    width: 55.555%;

                    @media (min-width: 1441px) {
                        width: 56.555%;
                    }

                    @media (max-width: 1210px) {
                        width: 57.555%;
                    }
                }

                @include viewport-tablet {
                    width: 57.555%;
                }

                @include viewport-phone {
                    width: 62.555%;
                    background-position: 2% 0;
                }
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        //.banner-back__shadow 
        &__shadow {
            position: absolute;
            top: 0;
            width: px-to-rem(144);
            height: 100%;
            will-change: transform;
            transition: transform 0.15s ease;

            @include viewport-phone {
                @media (max-width: 550px) {
                    display: none;
                }
            }

            @at-root .banner-back__item:nth-child(1) .banner-back__shadow {
                left: 0;
                background: linear-gradient(-90deg, rgba(24, 25, 29, 0) -2%, #18191D 64%);

                @include viewport-desktop {
                    transform: translateX(-100%);

                    @media (min-width: 1441px) {
                        transform: translateX(-35%);
                    }
                    @media (max-width: 1210px) {
                        transform: translateX(-50%);
                    }
                }

                @include viewport-tablet-max {
                    transform: translateX(-50%);
                }
            }

            @at-root .banner-back__item:nth-child(2) .banner-back__shadow {
                right: 0;
                //transform: translateX(100%);
                background: linear-gradient(90deg, rgba(24, 25, 29, 0) -2%, #18191D 64%);
            
                @include viewport-desktop {
                    transform: translateX(100%);

                    @media (min-width: 1441px) {
                        transform: translateX(35%);
                    }
                    @media (max-width: 1210px) {
                        transform: translateX(50%);
                    }
                }

                @include viewport-tablet-max {
                    transform: translateX(50%);
                }
            }
        }
    }
    
    //.banner-content 
    &-content {
        width: 100%;
        //height: 100%;
        display: flex;

        @include viewport-phone {
            @media (max-width: 550px) {
                display: block;
            }
        }

        //.banner-content__item 
        &__item {
            display: flex;
            justify-content: center;
            flex: 0 0 50%;

            @include viewport-phone {
                @media (max-width: 550px) {
                    position: relative;
                    z-index: 0;
                    flex: unset;
                    width: calc(2 * var(--wrap-1) + 100%);
                    min-height: 41.63vh;
                    margin-left: calc(var(--wrap-1) * -1);
                    align-items: flex-end;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

            &:nth-child(1) {
                @include viewport-phone {
                    @media (max-width: 550px) {
                        height: 41.63vh;
                        height: calc(var(--vh, 1vh) * 41.634);
                        background-image: url(../assets/img/img-banner-1.png);
                        background-position: 0 50%;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 0;
                            width: calc(2 * var(--wrap-1) + 100%);
                            margin-left: calc(var(--wrap-1) * -1);
                            height: px-to-rem(65);
                            background-image: linear-gradient(360deg, rgba(24, 25, 29, 0) 12.17%, #18191D 79.11%);
                        }
                    }
                }
            }

            &:nth-child(2) {
                @include viewport-phone {
                    @media (max-width: 550px) {
                        height: 44.163vh;
                        height: calc(var(--vh, 1vh) * 44.163);
                        background-image: url(../assets/img/img-banner-2.png);
                        background-position: 100% 50%;
    
                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            z-index: 0;
                            width: calc(2 * var(--wrap-1) + 100%);
                            margin-left: calc(var(--wrap-1) * -1);
                            height: px-to-rem(133);
                            background-image: linear-gradient(180deg, rgba(24, 25, 29, 0) 12.17%, #18191D 79.11%);
                        }
                    }
                }
            }
        }

        //.banner-content__btn 
        &__btn {
            @include viewport-phone {
                @media (max-width: 550px) {
                    position: relative;
                    z-index: 1;
                    margin-bottom: px-to-rem(13);
                }
            }
        }
    }
}

//INFO-------------------------------------------------------------------------
.info {
    @include section-dark;

    &._main {
        @include viewport-desktop {
            padding-top: 0;
        }

        @include viewport-tablet-max {
            //padding-top: px-to-rem(30);
        }
    }

    &._light {
        @include section-light;

        @include viewport-tablet-min {
            padding: px-to-rem(86) 0 px-to-rem(144);
        }

        @include viewport-phone {
            padding: px-to-rem(47.56) 0 px-to-rem(56);
        }
    }

    &._inner-dark {
        @include section-inner-dark;

        @include viewport-tablet-min {
            padding: px-to-rem(80) 0;
        }

        @include viewport-phone {
            overflow: hidden;
            padding: px-to-rem(43.56) 0;
        }
    }

    &._other {
        @include viewport-tablet-min {
            padding-top: px-to-rem(40);
        }

        @include viewport-phone {
            padding-top: px-to-rem(32);
        }
    }

    //.info__content 
    &__content {
        > * + * {
            @include viewport-tablet-min {
                margin-top: px-to-rem(48.5);
            }
    
            @include viewport-phone {
                border-top: 1px solid var(--color-bg-secondary);
                margin-top: px-to-rem(28.5);
                padding-top: px-to-rem(24.5);
            }
        }
    }

    //.info__title__container 
    &__title__container {
        @include viewport-tablet-min {
            margin-bottom: px-to-rem(32.66);
        }

        @include viewport-phone {
            margin-bottom: px-to-rem(21.82);
        }
    }

    //.info__title
    &__title {
        @include text-heading-inner-2;
        text-align: center;
    }


    //.info__descriprion 
    &__descriprion {
        @include text-body-1;

        > * + * {
            @include viewport-tablet-min {
                margin-top: px-to-rem(18);
            }

            @include viewport-phone {
                margin-top: px-to-rem(15);
            }
        }

        @at-root .info._inner-dark .info__descriprion > * + * {
            @include viewport-tablet-min {
                margin-top: px-to-rem(31.55);
            }

            @include viewport-phone {
                margin-top: px-to-rem(27.55);
            }
        }
    }
    
    //.info__columns 
    &__columns {
        @include text-body-1;
    }

    //.info__button__container 
    &__button__container {
        display: flex;
        justify-content: center;
        border-top: unset;
        padding-top: unset;

        @include viewport-tablet-min {
            margin-top: px-to-rem(60);
        }

        @include viewport-phone {
            margin-top: px-to-rem(44);
        }
    }

    //.info__button 
    &__button {
        @include button-red;
    }
    
    //.info-link 
    &-link {
        > * + * {
            @include viewport-tablet-min {
                margin-top: px-to-rem(15.6);
            }

            @include viewport-phone {
                margin-top: px-to-rem(19.3);
            }
        }

        @at-root .info._other .info-link > * + * {
            @include viewport-tablet-min {
                margin-top: px-to-rem(10.6);
            }

            @include viewport-phone {
                margin-top: px-to-rem(13.6);
            }
        }

        //.info-link__title 
        &__title {
            span {
                @include viewport-tablet-min {
                    display: block;
                }
            }
        }
        
        //.info-link__link 
        &__link {
        }
    }

    //.info-list 
    &-list {
        
        li { 
            position: relative;
            z-index: 0;

            &:first-child {
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: var(--color-text-secondary);
                }
            }
            
        }

        //.info-list__item 
        &__item {
            position: relative;
            z-index: 0;
            display: flex;
            align-items: center;
            color: inherit;

            @include viewport-tablet-min {
                padding: px-to-rem(22.74) px-to-rem(13.55);
            }

            @include viewport-phone {
                padding: px-to-rem(17.55) 0 px-to-rem(10);
            }

            > * + * {
                @include viewport-desktop {
                    margin-left: px-to-rem(80);
                }

                @include viewport-tablet {
                    margin-left: px-to-rem(56);
                }

                @include viewport-phone {
                    margin-left: px-to-rem(33);
                }
            }

            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
            }

            &::before {
                bottom: 0;
                height: 1px;
                background-color: var(--color-text-secondary);
            }

            &::after {
                top: 0;
                height: 100%;
                background-color: var(--color-element-thirdy);
                transform: scaleX(0) scaleY(102%);
                transition: transform 0.6s ease-in;
                transform-origin: 0 50%;

                @include viewport-phone {
                    width: calc(100% + 2 * var(--wrap-1));
                    margin-left: calc(-1 * var(--wrap-1));
                }

                // @at-root .info-list li:nth-child(odd) .info-list__item::after {
                //     transform-origin: 0 50%;
                // }

                // @at-root .info-list li:nth-child(even) .info-list__item::after {
                //     transform-origin: 100% 50%;
                // }

                @at-root .info-list__item:hover::after {
                    transform: scaleX(1) scaleY(103%);
                }

                @at-root .info-list__item:focus-visible::after {
                    transform: scaleX(1) scaleY(103%);
                }
            }
        }
        
        //.info-list__year 
        &__year {
            position: relative;
            z-index: 1;
            line-height: px-to-rem(38);
            color: var(--color-bg-third);

            @include viewport-tablet-min {
                font-size: px-to-rem(36);
            }

            @include viewport-phone {
                font-size: px-to-rem(28);
            }
        }
        
        //.info-list__title 
        &__title {
            position: relative;
            z-index: 1;
            display: inline-block;

            @include viewport-tablet-min {
                position: relative;
                font-size: px-to-rem(21);
            }

            @include viewport-phone {
                font-size: px-to-rem(18);
            }

            &::before {
                @include viewport-tablet-min {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: var(--color-element-secondary);

                    transform: scaleX(0);
                    transition: transform 0.15s ease;
                    transform-origin: 50% 50%;

                    @at-root .info-list__item:hover .info-list__title::before {
                        transform: scaleX(1);
                    }

                    @at-root .info-list__item:focus-visible .info-list__title::before {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

//LINE------------------------------------------------------------------------
.line__wrapper {
    padding: 0 var(--wrap);
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--color-bg-secondary);

    @include viewport-tablet-min {
        margin-top: px-to-rem(57);
    }
    
    @include viewport-phone {
        margin-top: px-to-rem(37.25);
    }
}

//CONTENT-COLUMNS-------------------------------------------------------------
.content-columns {
    @include viewport-tablet-min {
        display: flex;
    }

    > * + * {
        @include viewport-tablet-min {
            margin-left: px-to-rem(138);
        }

        @include viewport-phone {
            margin-top: px-to-rem(53);
        }
    }

    @at-root .info._other .content-columns > * + * {
        @include viewport-phone {
            margin-top: px-to-rem(37.25);
        }
    }

    //.content-columns__item 
    &__item {
        @include viewport-tablet-min {
            flex: 0 0 calc(50% - (138px / 2));
            display: flex;
            height: auto;
            flex-direction: column;
        }

        > * + * {
            @include viewport-tablet-min {
                margin-top: px-to-rem(23);
            }

            @include viewport-phone {
                margin-top: px-to-rem(19.3);
            }
        }
    }
    
    //.content-columns__main 
    &__main {
        @include viewport-tablet-min {
            flex: 1 0 auto;
        }

        > * + * {
            @include viewport-tablet-min {
                margin-top: px-to-rem(12);
            }

            @include viewport-phone {
                margin-top: px-to-rem(28);
            }
        }
    }
    
    //.content-columns__btn__container 
    &__btn__container {
    }
    
    //.content-columns__btn 
    &__btn {
        @include viewport-phone {
            margin: 0 auto;
        }
    }
}

//BANNER-INNER--------------------------------------------------------------
.banner-inner {
    @include viewport-tablet-min {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
    }

    //.banner-inner__img__container 
    &__img__container {
        @include viewport-tablet-min {
            padding-top: 43.888%;
        }

        img {
            @include viewport-tablet-min {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @include viewport-phone {
                width: 100%;
                height: auto;
            }
        }
    }
}

.inner-content {
    font-family: $font-family-inner;

    @include viewport-tablet-min {
        position: relative;
        z-index: 1;
    }
}

//FOOTER---------------------------------------------------------------------
.footer {
    @include section-dark;

    @include viewport-tablet-min {
        padding: px-to-rem(66.46) 0 px-to-rem(49.69);
    }

    @include viewport-phone {
        padding: px-to-rem(52.44) 0 px-to-rem(16);
    }

    &._inner {
       @include section-inner-dark;
    }

    //.footer__copyrights 
    &__copyrights {
        margin: 0 auto;
        text-align: center;
        line-height: px-to-rem(25);

        @include viewport-tablet-min {
            font-size: px-to-rem(16);
        }

        @include viewport-phone {
            font-size: px-to-rem(14);
        }

        @at-root .footer._inner & {
            @include viewport-tablet-min {
                opacity: 0.5;
            }
        }
    }
}